<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/layout}">
<head>
  <title>ホーム</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">

<div class="row">
<div class="col-md-3">
<span th:text="${@mqttConfig.broker.host}"></span>:<span th:text="${@mqttConfig.broker.port}"></span>

<div class="form-floating mb-3">
  <input id="thread" type="text" class="form-control" style="text-align: right;" value="1" placeholder="Thread size" />
  <label for="thread">Thread size</label>
</div>
<div class="form-floating mb-3">
  <input id="interval" type="text" class="form-control" style="text-align: right;" value="1000" placeholder="Publish interval" />
  <label for="interval">Publish interval</label>
</div>
<div class="form-floating mb-3">
  <input id="length" type="text" class="form-control" style="text-align: right;" value="1k" placeholder="Data length" />
  <label for="length">Data length</label>
</div>

<button id="start" class="btn btn-primary">Start</button>
<button id="stop" class="btn btn-secondary">Stop</button>

</div>
<div class="col-md-9">
</div>
</div>

</div><!-- container -->
<div layout:fragment="script">
<script type="text/javascript">
$(function(){
	$('#start').click(function(){
		var data = JSON.stringify({
			thread:   $('#thread').val(),
			interval: $('#interval').val(),
			length:   $('#length').val()
		});
		$.ajax({
			url:         '/ajax/start',
			type:        'POST',
			data:        data,
			contentType: 'application/json',
			dataType:    'json'
		})
		.done(function (data) {
			console.log(data);
		})
		.fail(function (data) {
			console.error(data);
		});
		return false;
	});
	$('#stop').click(function(){
		var data = JSON.stringify({
			code: "xxxx"
		});
		$.ajax({
			url:         '/ajax/stop',
			type:        'POST',
			data:        data,
			contentType: 'application/json',
			dataType:    'json'
		})
		.done(function (data) {
			console.log(data);
		})
		.fail(function (data) {
			console.error(data);
		});
		return false;
	});
});
</script>
</div><!-- script -->
</body>
</html>